DATABASE_URL=postgres://user:password@localhost/foosball
DJANGO_ADMIN_URL="^admin/"
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=er3@@py*haf@ql-qj*czz)s5woyrzxp75a54q)^@z5dodt_i5j
DJANGO_ALLOWED_HOSTS=.foosball.example.com
DJANGO_SERVER_EMAIL=
DJANGO_SERVER_EMAIL=noreply@example.com
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
