{% extends "games/games_base.jinja" %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _("Input a new score") }}</h1>
                {{ form.forms['game']|crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="red-team">{{ _("Red") }}</h2>
                {{ form.forms['team1']|crispy }}
            </div>
            <div class="col-md-6">
                <h2 class="blue-team">{{ _("Blue") }}</h2>
                {{ form.forms['team2']|crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">{{ _("Submit") }}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock %}
