{% extends "games/games_base.jinja" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _("Game") }}</h1>
            {{ game }}
        </div>
    </div>
{% endblock %}
