{% extends "base.jinja" %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1>{{ _("Office fußball results!") }}</h1>
                <p>
                    <a class="btn btn-lg btn-primary" href="{{ url("games:new") }}"><i class="fa fa-plus"></i> {{ _("Result input") }}</a>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img id="front-logo" src="{{ static('images/logo.png') }}" alt="logo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a href="https://github.com/andersinno/foosball"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a>
        </div>
    </div>
{% endblock %}
